node_modules
assets/global/scripts/config.js
assets/apps/*/*.min.*
assets/layouts/*/*.min.*
assets/layouts/*/*/*.min.*
assets/layouts/*/*/*/*.min.*
assets/pages/*/*.min.*
assets/global/css/*.min.*
assets/global/scripts/*.min.*
