//## Main Layout CSS Builder

@import '../../global/_variables'; // global metronic framework variables
@import '../../global/components/_mixins'; // global metronic framework mixings

@import '_variables'; // theme level variables  
  
@import 'layout/_print'; // print layout   

@import 'layout/_header'; // page header 
@import 'layout/_page-container'; // page main container  
@import 'layout/_sidebar';  // page sidebar     
@import 'layout/_content'; // page consnde                        
@import 'layout/_footer';   // page footer                                  
@import 'layout/_theme-panel';  // theme customizer panel

@import '../quick-sidebar/_quick-sidebar';  // quick sidebar content
@import '../quick-sidebar/_quick-nav';  // quick navigation                   

/***     
Page Loading    
***/     

.page-on-load {
	background: #fefefe;

	.page-header,
	.page-container,   
	.page-footer,
	> .clearfix {
		display: none;
		transition: all 2s;
	}
}

@media all and (max-width:768px) {
     body > .page-header, body > .clearfix, body > .page-container, body > .page-footer {
         display:none;
     }
 }

 @media all and (min-width:768px) {
     body > .mobile {
          display:none;
     }
 }


 .mobile .logo {
   margin: 0 auto;
   margin-top: 100px;
   padding: 15px;
   text-align: center;
 }

 .mobile .content .form-actions .btn {
   margin-top: 1px;
 }
 .mobile .btn {
   background-color: #5995bb;
   border: 1px solid #72a9cc;
   color: #8fc4e5;
   font-weight: 600;
   padding: 10px 25px !important;

   &:hover {
     border: 1px solid lighten(#72a9cc, 8%);
     background-color: #5995bb;
     color: #8fc4e5;
   }
 }
 .mobile .btn-default {
   background-color: #5995bb;
   border: 1px solid #72a9cc;
   color: #8fc4e5;
   font-weight: 600;
   padding: 10px 25px !important;

   &:hover {
     border: 1px solid lighten(#72a9cc, 8%);
     background-color: #5995bb;
     color: #8fc4e5;
   }
 }
